
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>Tic Tac Toe</span>
  <div class="spacer"></div>
</div>

<div class="center">

  <h1 style="margin-bottom: 50px;">Tic Tac Toe Time</h1> 
  <div *ngIf="!over;" class="tttturn" style="margin-bottom: 15px;">
    Player {{ player }}'s turn
  </div>
  
  <div style="position: relative;">
    <div class="tttrow" *ngFor="let row of [0,1,2]">
      <div [ngClass]="{'ttto': board[row*3 +col] === playerO, 'tttx' : board[row*3 +col] === playerX }" class="tttboard tttbutton"  *ngFor="let col of [0,1,2]"  (click)="addTicToe(row * 3 + col);">
        {{board[row*3 +col]}}
      </div>
    </div>
    <div *ngIf="over && winner != 'Draw' && winner != null;" class="tttwin">
      <div>
        Player {{ winner }} wins!
      </div>
      <button (click)="resetBoard();" class="resetbutton" style="margin-top: 20px;">
        Play again
      </button>
    </div>
    <div *ngIf="over && winner == 'Draw' ;" class="tttwin">
      <div>
        {{winner}} !
      </div>
      <button (click)="resetBoard();" class="resetbutton" style="margin-top: 20px;">
        Play again
      </button>
    </div>
  </div>

  <div>
    <div *ngIf="!over;">

      <button (click)="resetBoard();" class="resetbutton" style="margin-top: 20px;">
        New game
      </button>
    </div>
  </div><br />
</div>

<router-outlet></router-outlet>
